name: typescript

permissions:
  contents: "read"

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:
  merge_group:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: install node
        uses: actions/setup-node@v3
        with:
          node-version: 22
      - name: yarn install
        run: yarn install
      - name: tsc
        run: tsc --noEmit --noErrorTruncation --pretty false
  api-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Check Meson API
        run: |
          git clone https://github.com/mesonbuild/meson --depth 1
          ./ci/check-meson-api.py
